.todo-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .todo-list .header {
    margin: 10px 0;
    font-size: 0.875rem; /* equivalent to text-sm */
    font-style: italic;
  }
  